<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <title> Crear Producto - La Letra Dorada </title>
</head>
<body>

    <%- include('../partials/header.ejs') %>

    <main>
        <div class="main-create-container">
            <h2>Creación de Producto</h2>
            <form action="/products/create" method="post" enctype="multipart/form-data">

                <section class="book-data">

                    <h3>Información del Libro</h3>

                    <section class="field-form-container">
                        <div class="left">
                            <label for="title"> Título </label>
                            <input type="text" name="title" id="title" 
                            placeholder="Título" required>
                        </div>

                        <div class="right">
                            <label for="author">Autor</label>
                            <input type="text" name="author" id="author" 
                            placeholder="Autor" required>
                        </div>
                    </section>

                    
                    
                    <section class="field-form-container">
                        <div class="left">
                            <label for="facade">Portada</label>
                            <!-- <input type="file" name="facade" id="facade" 
                            placeholder="Elegir Portada" required> -->
                        </div>

                        <div class="right">
                            <label>Categoría </label>
                            <select class="category-select-main" 
                            id="category-select-main" name="genre" required>
                                <option value="antologia">Antología</option>
                                <option value="arquitectura">Arquitectura y diseño</option>
                                <option value="arte">Arte</option>
                                <option value="ciencia">Ciencia</option>
                                <option value="ciencia_ficcion">Ciencia ficción</option>
                                <option value="clasicos">Clásicos</option>
                                <option value="cuentos">Cuentos</option>
                                <option value="derecho">Derecho</option>
                                <option value="economia_negocios">Economía y Negocios</option>
                                <option value="fantasia">Fantasía</option>
                                <option value="filosofia">Filosofía</option>
                                <option value="genero">Género</option>
                                <option value="novela_juvenil">Novela Juvenil</option>
                                <option value="romance">Romance</option>
                                <option value="suspenso">Suspenso</option>
                            </select>
                        </div>
                    </section>
            
                </section>

                <section class="textarea-description">

                    <div class="field-form-container">
                        <label for="description">Descripción</label>
                        <textarea name="description" id="description" 
                        cols="100" rows="8" placeholder="Descripción" required></textarea>
                    </div>

                </section>
                <section class="textarea-description">

                    <div class="field-form-container">
                        <label for="biography">Biografía del autor</label>
                        <textarea name="biography" id="biography" 
                        cols="100" rows="8" placeholder="Biografía del autor" required></textarea>
                    </div>

                </section>

                <section class="book-cost">

                    <h3> Precios </h3>

                    <section class="field-form-container">
                        <div class="left">
                            <label for="tapaDura"> Tapa dura </label>
                            <input type="text" name="tapaDura" id="tapaDura"
                            placeholder="Precio">
                        </div>

                        <div class="right">
                            <label for="tapaBlanda"> Tapa blanda </label>
                            <input type="text" name="tapaBlanda" id="tapaBlanda" 
                            placeholder="Precio">
                        </div>
                    </section>
                
                    
                    <section class="field-form-container">
                        <div class="left">
                            <label for="tapaDura"> Tapa dura </label>
                            <input type="text" name="tapaDura" id="tapaDura"
                            placeholder="Precio">
                        </div>
                        
                        <div class="right">
                            <label for="price"> Precio </label>
                            <input type="text" name="price" id="price" 
                            placeholder="Precio">
                        </div>
                    </section>
                    
                    <section class="buttons">
                        <button class="reset" type="reset"> Borrar </button>
                        <button class="save" type="submit"> Guardar </button>
                    </section>

                </section>
            </form>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>