<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/productEdit.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <title>Producto Edicion - La Letra Dorada</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <div class="main-container">
            <h2>Editar producto</h2>
            <form class="forms-container" action="" method="post">
                <div class="section">
                    <h3>Información del Producto</h3>
                    <div class="fields">
                        <div class="field-form">
                            <label for="titulo">Titulo</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-heading"></i>
                                <input type="text" name="titulo" id="titulo" placeholder="Titulo del Libro" required>
                            </div>
                        </div>
                        <div class="field-form">
                            <label for="autor">Autor</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-feather"></i>
                                <input type="text" name="autor" id="autor" placeholder="Autor del Libro" required>
                            </div>
                        </div>
                        <div class="field-form">
                            <label for="category">Género </label>
                            <div class="input-with-icon">
                                <i class="fa-regular fa-star"></i>
                                <select name="category" id="category">
                                    <option value="" disabled selected >Elige un Género</option>
                                    <option value="antologia">Antología</option>
                                    <option value="arquitectura">Arquitectura y diseño</option>
                                    <option value="arte">Arte</option>
                                    <option value="ciencia">Ciencia</option>
                                    <option value="ciencia_ficcion">Ciencia ficción</option>
                                    <option value="clasicos">Clásicos</option>
                                    <option value="cuentos">Cuentos</option>
                                    <option value="derecho">Derecho</option>
                                    <option value="economia_negocios">Economía y Negocios</option>
                                    <option value="fantasia">Fantasía</option>
                                    <option value="filosofia">Filosofía</option>
                                    <option value="genero">Género</option>
                                    <option value="novela_juvenil">Novela Juvenil</option>
                                    <option value="romance">Romance</option>
                                    <option value="suspenso">Suspenso</option>
                                </select>
                            </div>
                        </div>
                        <div class="field-form">
                            <label for="portada">Portada</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-book"></i>
                                <input type="file" name="portada" id="portada" accept=".png, .jpg, .jpeg" required>
                            </div>
                        </div>
                        <div class="field-form" id="descripcion">
                            <label for="descripcion">Descripción</label>
                            <div class="input-with-icon">
                                <i class="fa-regular fa-envelope"></i>
                                <textarea name="descripcion" id="descripcion" placeholder="Descripción"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section" >
                    <h3>Precios del Producto</h3>
                    <div class="fields">
                        <div class="field-form">
                            <label for="tapaDura">Tapa Dura</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <input type="number" name="tapaDura" id="tapaDura" placeholder="Precio Tapa Dura " required>
                            </div>
                        </div>
                        <div class="field-form">
                            <label for="tapaBlanda">Tapa Blada</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <input type="number" name="tapaBlanda" id="tapaBlanda" placeholder="Precio Tapa Blanda " required>
                            </div>
                        </div>
                        <div class="field-form">
                            <label for="ebook">Ebook</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <input type="number" name="ebook" id="ebook" placeholder="Precio Ebook " required>
                            </div>
                        </div>
                        <div class="field-form">
                            <label for="pdf">PDF</label>
                            <div class="input-with-icon">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <input type="number" name="pdf" id="pdf" placeholder="Precio PDF" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field-form-button">
                    <button class="form-button-creat" type="submit">Guardar Cambios</button>
                    <button class="form-button-cancel" type="reset">Cancelar</button>
                </div>
            </form>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>