<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/detail.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
  <link rel="icon" href="/img/pngwing.com.ico">
  <script src="https://kit.fontawesome.com/8de7c42270.js" crossorigin="anonymous"></script>
  <title>La Letra Dorada</title>
</head>

<body>
    <header>
        <div class="header-top-container">
          <div class="logo-header" >
            <img src="/img/home/La_letra_dorada_200_69_px.svg" alt="">
          </div>
          <!-- Barra de búsqueda -->
          <div class="search-bar-header">
            <input class="input-search"  type="text" placeholder="Buscar por autor, titulo,ISBN..." > 
          </div>
    
          <div class="links-user-header" >
            <a href="#">Ingresar</a>
            <a href="#">Registrarse</a>
            <i class="fa-solid fa-cart-shopping"></i>
          </div>
    
          <div class="hearder-burger-menu">
            <i class="fa-solid fa-bars"></i>
          </div>
        </div>
    
        <nav class="header-bottom-container">
          <div class="item-link-category">      
            <select class="item-select" id="category-select">
              <option value="antologia">Antología</option>
              <option value="arquitectura">Arquitectura y diseño</option>
              <option value="arte">Arte</option>
              <option value="ciencia">Ciencia</option>
              <option value="ciencia_ficcion">Ciencia ficción</option>
              <option value="clasicos">Clásicos</option>
              <option value="cuentos">Cuentos</option>
              <option value="derecho">Derecho</option>
              <option value="economia_negocios">Economía y Negocios</option>
              <option value="fantasia" selected>Fantasía</option>
              <option value="filosofia">Filosofía</option>
              <option value="genero" selected>Género</option>
              <option value="novela_juvenil">Novela Juvenil</option>
              <option value="romance">Romance</option>
              <option value="suspenso">Suspenso</option>
            </select>
          </div>
          <div class="item-link-category">
            <select class="item-select">
              <option value="None">Tematica</option>
              <option value="None">Infantil</option>
              <option value="None">Juvenil</option>
              <option value="None">Moderno</option>
              <option value="None">Autoayuda</option>
            </select>
          </div>
          <div class="item-link-category">
            <p class="item-colection">
              <a href="">Colecciones</a>
            </p>
          </div>
          <div class="item-link-category">
            <p class="item-news">
              <a href="">Novedades</a>
            </p>
          </div>
          <div class="item-link-category">
            <p class="item-most-read">
              <a href="">Más leidos</a>
            </p>
          </div>
        </nav>
      </header>
      <main>
        <section class="detail-container">

          <section class="book-detail-container">

            <div class="book-img">
              <img src="/img/home/george-orwell-1984.png"  alt="">
            </div>

            <div class="book-detail">
              <h2>1984 - George Orwell </h2>
              <div class="incon-container"> 
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </div>
              <div class="descrption-container">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam molestiae quasi, fugiat aspernatur, iure dignissimos magnam repudiandae reiciendis ad earum omnis, ex dicta magni libero quis voluptatum fugit. Aut, nisi!.
                </p>
                <a href="#">Seguir leyendo...</a>
              </div>
  
              <div class="buttons-price-container">
                <div class="button-item">
                  <button>
                    $10,99
                  </button>
                  <p>tapa dura</p>
                </div>
  
                <div class="button-item">
                  <button>
                    $10,99
                  </button>
                  <p>tapa blanda</p>
                </div>
  
                <div class="button-item">
                  <button>
                    $10,99
                  </button>
                  <p>e-book</p>
                </div>
  
                <div class="button-item">
                  <button>
                    $10,99
                  </button>
                  <p>pdf</p>
                </div>
                <div class="button-item-cart">
                  <button class="button-cart">Agregar<i class="fa-solid fa-cart-shopping"></i></button>
                </div>
              </div>
            </div>
            
          </section>

          <div class="byography-container">
            <h2>Lorem Ipsum</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident magnam quia dolore illo facere inventore quae consectetur, dicta tempora iste aliquam non delectus nesciunt tempore quasi mollitia, soluta sapiente optio.
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident magnam quia dolore illo facere inventore quae consectetur, dicta tempora iste aliquam non delectus nesciunt tempore quasi mollitia, soluta sapiente optio.
            </p>
          </div>






































          <div class="carousel-detail">

            <h3 class="carousel-detail-title">Los lectores también disfrutan</h3>
            <div class="carousel-books">
            <article class="book-item">
              <div class="book-info-container">
                <img src="/img/home/asimov.png" alt="Libro">
                <div class="info-title">
                  <p>Trilogía de la Fundación</p>
                </div>
                <div class="info-author">
                  <p>Isaac Asimov</p>
                </div>
                <div class="info-price">
                  <span class="price-itself">$1989</span>
                  <button class="cart-button">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </button>
                </div>             
              </div>
            </article>
            <article class="book-item">
              <div class="book-info-container">
                <img src="/img/home/asimov.png" alt="Libro">
                <div class="info-title">
                  <p>Trilogía de la Fundación</p>
                </div>
                <div class="info-author">
                  <p>Isaac Asimov</p>
                </div>
                <div class="info-price">
                  <span class="price-itself">$1989</span>
                  <button class="cart-button">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </button>
                </div>             
              </div>
            </article>
            <article class="book-item">
              <div class="book-info-container">
                <img src="/img/home/asimov.png" alt="Libro">
                <div class="info-title">
                  <p>Trilogía de la Fundación</p>
                </div>
                <div class="info-author">
                  <p>Isaac Asimov</p>
                </div>
                <div class="info-price">
                  <span class="price-itself">$1989</span>
                  <button class="cart-button">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </button>
                </div>             
              </div>
            </article>
            </div>
          </div>








          <section class="new-books-container">
            <h3 class="new-books-title">Los lectores tambien disfrutan</h3>
            <div class="books-container">
              <article class="book-item">
                <div class="book-info-container">
                  <img src="/img/home/asimov.png" alt="Libro">
                  <div class="info-title">
                    <p>Trilogía de la Fundación</p>
                  </div>
                  <div class="info-author">
                    <p>Isaac Asimov</p>
                  </div>
                  <div class="info-price">
                    <p>$1989</p>
                  </div>
                </div>
              </article>
        
              <article class="book-item">
                <div class="book-info-container">
                  <img src="/img/home/cuentos-de-hadas.png" alt="Libro">
                  <div class="info-title">
                    <p>Cuento de hadas</p>
                  </div>
                  <div class="info-author">
                    <p>Stephen King</p>
                  </div>
                  <div class="info-price">
                    <p>$3100</p>
                  </div>
                </div>
              </article>
        
              <article class="book-item">
                <div class="book-info-container">
                  <img src="/img/home/dorian-gray.png" alt="Libro">
                  <div class="info-title">
                    <p>El retrato de Dorian Gray</p>
                  </div>
                  <div class="info-author">
                    <p>Oscar Wilde</p>
                  </div>
                  <div class="info-price">
                    <p>$6000</p>
                  </div>
                </div>
              </article>
        
              <article class="book-item">
                <div class="book-info-container">
                  <img src="/img/home/dune.png"  alt="Libro">
                  <div class="info-title">
                    <p>Dune</p>
                  </div>
                  <div class="info-author">
                    <p>Frank Herbert</p>
                  </div>
                  <div class="info-price">
                    <p>$3000</p>
                  </div>
                </div>
              </article>
        
              <article class="book-item">
                <div class="book-info-container">
                  <img src="/img/home/edgar-allan-poe.png" alt="Libro">
                  <div class="info-title">
                    <p>La verdad sobre el caso del señor Valderman</p>
                  </div>
                  <div class="info-author">
                    <p>Edgar Allan Poe</p>
                  </div>
                  <div class="info-price">
                    <p>$2000</p>
                  </div>
                </div>
              </article>
        
              <article class="book-item" >
                <div class="book-info-container">
                  <img src="/img/home/el-corazon-delator.png" alt="Libro">
                  <div class="info-title">
                    <p>El corazón delator</p>
                  </div>
                  <div class="info-author">
                    <p>Edgar Allan Poe</p>
                  </div>
                  <div class="info-price">
                    <p>$5000</p>
                  </div>
                </div>
              </article>
            </div>
          </section>
          















          <section class="comment-book-container">
            <h2>Comentarios</h2>
            <div class="book-comment">
              <div class="item-comment">
                <p><span>user:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item-comment">
                <p><span>user:</span> Provident magnam quia dolore illo facere inventore quae consectetur, dicta tempora iste aliquam non delectus nesciunt tempore quasi mollitia, soluta sapiente optio.</p>
              </div>
              <div class="item-comment">
                <p><span>user:</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="item-comment">
                <p><span>user:</span> Provident magnam quia dolore illo facere inventore quae consectetur, dicta tempora iste aliquam non delectus nesciunt tempore quasi mollitia, soluta sapiente optio..</p>
              </div>
            </div>
          </section>
        </section>
      </main>

      <footer >
        <section class="nav-footer-container">
          <nav>
            <h4 class="nav-title-item">Contacto</h4>
            <ul class="nav-text-links">
              <li><a href="#">Tel: 0800 565-3232</a></li>
              <li><a href="#">Whatsapp: (+54)11 543-0334 </a></li>
              <li><a href="#">laletradorada@dorada.com</a></li>
              <li><a href="#">laletradoradareclamos@gmail.com</a></li>
            </ul>
          </nav>
        
          <nav>
            <h4 class="nav-title-item">Sobre Nosotros</h4>
            <ul class="nav-text-links">
              <li><a href="#">Quienes somos</a></li>
              <li><a href="#">Nuetras sucursales</a></li>
              <li><a href="#"></a>Trabaja con nosotros</li>
            </ul>
          </nav>
        
          <nav>
            <h4 class="nav-title-item">Información legal</h4>
            <ul class="nav-text-links">
              <li><a href="#">Terminos y condiciones</a></li>
              <li><a href="#">Politica de devoluciones y anulacion</a></li>
              <li><a href="#">Politica de proteccion de datos</a></li>
            </ul>
          </nav>
        
          <nav>
            <h4 class="nav-title-item">Servicios</h4>
            <ul class="nav-text-links">
              <li><a href="#"></a></li>
              <li><a href="#">Venta a Empresas e instituciones</a></li>
              <li><a href="#">Compra Recurrente</a></li>
              <li><a href="#">Libros al por mayor</a></li>
              <li><a href="#">Preventa</a></li>
            </ul>
          </nav>
      
          <div class="social-media-container">
            <h4 class="nav-title-item">Siguenos en </h4>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </div>
        </section>
    
        <div class="container-copyrigth">
          <p class="text-copyrigth">
            ©1997-2023 LaLetraDorada.com®.
          </p>
        </div>
    
      </footer>
</body>
</html>