<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
  <title>La Letra Dorada</title>
</head>
<body>
  <header>
    <div class="container-search-bar">
      <div class="item-logo" >
        <h3>
          La Letra Dorada
        </h3>
      </div>
      <!-- Barra de búsqueda -->
      <div class="item-search-bar">
        <input class="input-search"  type="text" placeholder="Buscar por autor, titulo,ISBN..." > 
      </div>

      <div class="item-links" >
        <a href="#">Ingresar</a>
        <a href="#">Registrarse</a>
      </div>
    </div>
    <hr>
    <nav class="container-nav-header">
      <div class="item-category">      
        <select class="item-select">
          <option value="None">Genero</option>
        </select>
      </div>
      <div class="item-category">
        <select class="item-select">
          <option value="None">Novedades</option>
        </select>
      </div>
      <div class="item-category">
        <select class="item-select">
          <option value="None">Tematicas</option>
        </select>
      </div>
      <div class="item-category">
        <select class="item-select">
          <option value="None">Colecciones</option>
        </select>
      </div>
      <div class="item-link-nav">
        <p>
          Mas Leidos
        </p>
      </div>
    </nav>
  </header>

  <hr>
  <main>
    <section>
      <img src="https://cdn.pixabay.com/photo/2018/07/17/14/43/banner-3544296_1280.jpg" alt="banner">
    </section>

    <section>

      <h3>ULTIMAS NOVEDADES</h3>

      <article>
        <img src="https://contentv2.tap-commerce.com/cover/large/9788426400598_1.jpg?id_com=1113" alt="Libro">
        <div >
          <div>
            <p>Nombre de Libro</p>
          </div>
          <div>
            <p>Autor: Fulano</p>
            <p>$10000</p>
          </div>
        </div>
      </article>

      <article>
        <img src="https://contentv2.tap-commerce.com/cover/large/9788426400598_1.jpg?id_com=1113" alt="Libro">
        <div >
          <div>
            <p>Nombre de Libro</p>
          </div>
          <div>
            <p>Autor: Fulano</p>
            <p>$10000</p>
          </div>
        </div>
      </article>

      <article>
        <img src="https://contentv2.tap-commerce.com/cover/large/9788426400598_1.jpg?id_com=1113" alt="Libro">
        <div >
          <div>
            <p>Nombre de Libro</p>
          </div>
          <div>
            <p>Autor: Fulano</p>
            <p>$10000</p>
          </div>
        </div>
      </article>

      <article>
        <img src="https://contentv2.tap-commerce.com/cover/large/9788426400598_1.jpg?id_com=1113" alt="Libro">
        <div >
          <div>
            <p>Nombre de Libro</p>
          </div>
          <div>
            <p>Autor: Fulano</p>
            <p>$10000</p>
          </div>
        </div>
      </article>

      <article>
        <img src="https://contentv2.tap-commerce.com/cover/large/9788426400598_1.jpg?id_com=1113" alt="Libro">
        <div >
          <div>
            <p>Nombre de Libro</p>
          </div>
          <div>
            <p>Autor: Fulano</p>
            <p>$10000</p>
          </div>
        </div>
      </article>

      <article>
        <img src="https://contentv2.tap-commerce.com/cover/large/9788426400598_1.jpg?id_com=1113" alt="Libro">
        <div >
          <div>
            <p>Nombre de Libro</p>
          </div>
          <div>
            <p>Autor: Fulano</p>
            <p>$10000</p>
          </div>
        </div>
      </article>

    </section>

      <!--Otro hacer nuevamente lo hecho en ultimas novedades -->
    <section>
      <h3>OFERTAS!</h3>
      <p>Copiar aqui lo de la anterior seccion...</p>

    </section>
  </main>

  <hr>
  <footer >
    <section class="container-nav-footer">
      <nav>
        <h4 class="nav-title-item">Contacto</h4>
        <ul class="nav-text-links">
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
        </ul>
      </nav>
    
      <nav>
        <h4 class="nav-title-item">Sobre Nosotros</h4>
        <ul class="nav-text-links">
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolor s</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolo</a></li>
        </ul>
      </nav>
    
      <nav>
        <h4 class="nav-title-item">Envios</h4>
        <ul class="nav-text-links">
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
        </ul>
      </nav>
    
      <nav>
        <h4 class="nav-title-item">Servicios</h4>
        <ul class="nav-text-links">
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Lorem ipsum dolo</a></li>
          <li><a href="#">Lorem ipsum dolor sit </a></li>
        </ul>
      </nav>
  
      <div>
        <h4>Siguenos en </h4>
        <img width="20px" src="https://cdn.pixabay.com/photo/2016/08/09/17/52/instagram-1581266_640.jpg" alt="">
        <img width="20px"  src="https://img.freepik.com/vector-premium/logotipo-azul-redes-sociales_197792-1759.jpg" alt="">
        <img width="20px"  src="https://cdn-icons-png.flaticon.com/512/3938/3938028.png" alt="">
      </div>
    </section>
    <div class="container-copyrigth">
      <p class="text-copyrigth">
        © Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </p>
    </div>
  </footer>
</body>
</html>