* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

.header-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px 5px 20px;
}

.logo-header {
    margin-left: 15px;
    width: 12vw;
}

.logo-header img {
    width: 100%;
}

.input-search {
    border: solid 1px black;
    border-radius: 3px;
    padding: 6px;
    width: 20vw;
}

.links-user-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.links-user-header a {
    font-size: 15px;
    font-weight: 300;
    margin: 0 5px;
}

.links-user-header i {
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

.hearder-burger-menu {
    display: none;
}

.hearder-burger-menu i {
    color: black;
    font-size: 20px;
}

.header-bottom-container {
    display: flex;
    background-color: #272343;
    color: white;
    justify-content: center;
    padding: 10px 0;
}

.item-link-category {
    font-weight: 300;
    font-size: 14px;
    margin: 0 40px;
}

.item-select {
    background-color: #272343;
    font-weight: 300;
    border-style: none;
    font-size: 14px;
    max-width: 100px;
    width: 100%;
}

#category-select {
    max-width: 100px;
    width: 70%;
}

main {
    display: flex;
    flex-direction: column;
}

.main-1 {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.main-box-1 {
    border: 1px solid #000000;
    border-radius: 10px;
    width: 55%;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.main-product-title {
    background-color: #272343;
    color: #FFFFFF;
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding: 3px;
}

.main-product-title h1 {
    font-size: 16px;
}

.main-product {
    display: flex;
    justify-content: space-between;
    height: 110px;
    margin: auto;
    align-items: center;
    border-bottom: 1px solid #272343;
}

.main-product img {
    height: 110px;
    width: 70px;
    padding: 5px;
}

.product-name {
    display: flex;
    margin-top: 5px;
    margin-left: 10px;
    width: 150px;
    height: 20px;
    font-size: 15px;
}

.product-description {
    display: flex;
    flex-direction: row;
    max-width: 220px;
}

.product-description p {
    font-size: 12px;
}

.main-product button {
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .08rem;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: .4;
    padding: .5rem .5rem;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.main-product button:not(:disabled):hover {
    transform: scale(1.05);
}

.main-product button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.main-product button:focus {
    outline: 0 solid transparent;
}

.main-product button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.main-product button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.main-product button:focus:not(:focus-visible):before {
    border-width: 0;
}

.main-product button:not(:disabled):active {
    transform: translateY(.125rem);
}

.product-box-button-amount input {
    width: 25px;
    text-align: center;
}

.main-discount-title {
    background-color: #272343;
    color: #FFFFFF;
    text-align: center;
    padding: 3px;
}

.main-discount-title h1 {
    font-size: 16px;
}

.product-price {
    margin-right: 50px;
}

.main-discount {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    border-bottom: 1px solid #272343;
}

.main-discount input {
    height: 20px;
    border-radius: 5px;
    border: 1px #919090 solid;
    background-color: #f1f1f1;
    padding: 5px;
}

.main-discount button {
    border: none;
    background: #fff;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .08rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 5px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.main-discount button:not(:disabled):hover {
    transform: scale(1.05);
}

.main-discount button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.main-discount button:focus {
    outline: 0 solid transparent;
}

.main-discount button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.main-discount button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.main-discount button:focus:not(:focus-visible):before {
    border-width: 0;
}

.main-discount button:not(:disabled):active {
    transform: translateY(.125rem);
}

.main-shipping-title {
    background-color: #272343;
    color: #FFFFFF;
    text-align: center;
    padding: 3px;
}

.main-shipping-title h1 {
    font-size: 16px;
}

.main-shipping {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    height: 80px;
    border-bottom: 1px solid #272343;
}

.main-shipping h4 {
    margin-top: 15px;
}

.main-shipping input {
    height: 20px;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px #919090 solid;
    background-color: #f1f1f1;
    padding: 5px;
}

.main-shipping div button {
    background: #fff;
    backface-visibility: hidden;
    border: none;
    border-radius: .375rem;
    border-style: solid;
    border-width: .08rem;
    box-sizing: border-box;
    color: #212121;
    cursor: pointer;
    display: inline-block;
    font-family: Circular, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: 5px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.main-shipping div button:not(:disabled):hover {
    transform: scale(1.05);
}

.main-shipping div button:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.main-shipping div button:focus {
    outline: 0 solid transparent;
}

.main-shipping div button:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.main-shipping div button:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.main-shipping div button:focus:not(:focus-visible):before {
    border-width: 0;
}

.main-shipping div button:not(:disabled):active {
    transform: translateY(.125rem);
}

.shipping-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipping-icons i {
    color: #272343;
}

.shipping-options {
    cursor: pointer;
}

.main-payment-title {
    background-color: #272343;
    color: #FFFFFF;
    text-align: center;
    padding: 3px;
}

.main-payment-title h1 {
    font-size: 16px;
}

.main-payment {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.payment-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.payment-icons i {
    color: #272343;
}

.payment-icons label {
    cursor: pointer;
}

.main-payment p {
    margin-right: 30px;
    text-align: center;
}

.main-box-2 {
    width: 20%;
    height: 400px;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.main-box-2 img {
    width: 100px;
}

.main-box-2 h1 {
    font-size: 25px;
}

.price-details {
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    margin-right: -60px;
    color: #333;
    font-size: 12px;
}

.price-details h3,
h2 {
    display: flex;
    justify-content: space-between;
}

.checkout {
    margin-top: 40px;
}

.checkout button {
    appearance: none;
    background-color: #272343;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    min-height: 50px;
    min-width: 0;
    outline: none;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.checkout button:disabled {
    pointer-events: none;
}

.checkout button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.checkout button:active {
    box-shadow: none;
    transform: translateY(0);
}

.interested {
    margin: auto;
    width: 80vw;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.interested-title {
    background-color: #272343;
    border-radius: 8px;
}

.interested-title h3 {
    font-size: 20px;
    background-color: #272343;
    color: #FFFFFF;
    border-radius: 8px 8px 0 0;
    text-align: center;
    padding: 3px;
}

.books-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.books-container article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 122px;
}

.books-container article img {
    width: 120px;
    height: 180px;
}

.book-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 120px;
    padding: 5px 0;
}

.info-title {
    margin: 2px 0;
}

.info-title p {
    font-weight: 300;
}

.info-author {
    margin-bottom: 2px;
}

.info-author p {
    color: #333;
    font-size: 12px;
}

.book-item img {
    width: 120px;
}

.button-add-product {
    background: #fff;
    backface-visibility: hidden;
    margin-top: 5px;
    border-radius: .375rem;
    border-style: solid;
    border-width: .08rem;
    color: #212121;
    cursor: pointer;
    font-family: Circular, Helvetica, sans-serif;
    font-size: .75rem;
    font-weight: 700;
    letter-spacing: -.01em;
    line-height: 1.3;
    padding: .1rem 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translateZ(0) scale(1);
    transition: transform .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-add-product:not(:disabled):hover {
    transform: scale(1.05);
}

.button-add-product:not(:disabled):hover:active {
    transform: scale(1.05) translateY(.125rem);
}

.button-add-product:focus {
    outline: 0 solid transparent;
}

.button-add-product:focus:before {
    content: "";
    left: calc(-1*.375rem);
    pointer-events: none;
    position: absolute;
    top: calc(-1*.375rem);
    transition: border-radius;
    user-select: none;
}

.button-add-product:focus:not(:focus-visible) {
    outline: 0 solid transparent;
}

.button-add-product:focus:not(:focus-visible):before {
    border-width: 0;
}

.button-add-product:not(:disabled):active {
    transform: translateY(.125rem);
}

footer {
    background-color: #333;
}

.nav-footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 45px 50px 30px;
}

.nav-title-item {
    color: white;
    font-size: 12px;
    padding-bottom: 5px;
}

.nav-text-links {
    color: #979797;
    font-size: 11px;
}

.nav-text-links li {
    line-height: 1.4;
}

.social-media-container {
    text-align: center;
    padding: 10px;
}

.social-media-container h4 {
    margin-bottom: 10px;
}

.social-media-container a {
    font-size: 20px;
    color: white;
    margin: 0px 5px;
}

.text-copyrigth {
    color: white;
    font-size: 10px;
    padding: 0px 0px 10px 10px
}

@media (max-width: 1200px) {

    .logo-header {
        margin-bottom: 10px;
        width: 20vw;
    }

    .logo-header img {
        width: 120px;
    }

    .input-search {
        width: 30vw;
    }

    .links-user-header {
        margin-top: 10px;
    }

    .header-bottom-container {
        flex-wrap: wrap;
    }

    .item-link-category {
        margin: 0px 15px;
    }

    .price-details {
        margin: 0;
    }
}

@media (max-width: 765px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .header-top-container {
        justify-content: space-between;
        padding: 15px 0px
    }

    .logo-header {
        margin-bottom: 10px;
        width: 20vw;
    }

    .logo-header img {
        width: 100px;
    }

    .input-search {
        width: 50vw;
    }

    .hearder-burger-menu {
        display: block;
        margin-right: 30px;

    }

    .links-user-header,
    .header-bottom-container {
        display: none;
    }

    .main-box-1 {
        width: 60%;
    }

    .main-shipping {
        height: 110px;
    }

    .main-shipping input {
        width: 100px;
    }

    .main-shipping button {
        margin-top: 3px;
        margin-left: 5px;
    }

    .main-box-2 {
        width: 25%;
    }

    .checkout button {
        padding: 8px 16px;
    }

    .price-details {
        margin-left: -30px;
        margin-right: -30px;
    }

    .books-container .book-04 {
        display: block;
        display: none;
    }
}

@media (max-width: 480px) {

    .main-1 {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .main-box-1 {
        width: 95%;
    }

    .product-price {
        margin: 3px;
    }

    .main-shipping input {
        width: 100px;
    }

    .main-box-2 {
        width: 95%;
        margin-top: 30px;
        height: 300px;
    }

    .checkout {
        margin: 0;
        padding-bottom: 10px;
    }

    .price-details h3, h2 {
        margin-left: -30px;
        margin-right: -30px;
    }

    .books-container .book-02 {
        display: block;
        display: none;
    }

    .books-container .book-03 {
        display: block;
        display: none;
    }

    .nav-footer-container {
        flex-direction: column;
        text-align: center;
    }

    .nav-footer-container nav {
        margin-bottom: 25px;
    }

    .nav-title-item {
        font-size: 16px;
    }

    .nav-text-links {
        font-size: 15px;
    }

}

@media (max-width: 375px) {
    .main-1 {
        margin-top: 0;
    }

    .main-product {
        margin-left: 0;
    }

    .product-price {
        margin: 3px;
    }

    .main-shipping {
        height: 110px;
    }

    .main-shipping input {
        width: 100px;
        margin-bottom: 5px;
    }

    .main-shipping button {
        margin-left: 3px;
    }
}