<header>
    <div class="header-top-container">
      <div class="logo-header" >
        <a href="/">
          <img src="/img/home/La_letra_dorada_200_69_px.svg" alt="">
        </a>
      </div>
      <!-- Barra de búsqueda -->
      <div class="search-bar-header">
        <form action="/">
          <input class="input-search"  type="text" placeholder="Buscar por autor, titulo,ISBN..." > 
        </form>
      </div>

      <div class="links-user-header" >
        <a href="/user/login">Ingresar</a>
        <a href="/user/register">Registrarse</a>
        <a href="/user/logout">Cerrar sesion</a>
        <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
        
      </div>

      <div class="hearder-burger-menu">
        <i class="fa-solid fa-bars"></i>
      </div>
    </div>

    <nav class="header-bottom-container">
      <div class="item-link-category">      
        <select class="item-select" id="category-select">
          <option value="antologia">Antología</option>
          <option value="arquitectura">Arquitectura y diseño</option>
          <option value="arte">Arte</option>
          <option value="ciencia">Ciencia</option>
          <option value="ciencia_ficcion">Ciencia ficción</option>
          <option value="clasicos">Clásicos</option>
          <option value="cuentos">Cuentos</option>
          <option value="derecho">Derecho</option>
          <option value="economia_negocios">Economía y Negocios</option>
          <option value="fantasia" selected>Fantasía</option>
          <option value="filosofia">Filosofía</option>
          <option value="genero" selected>Género</option>
          <option value="novela_juvenil">Novela Juvenil</option>
          <option value="romance">Romance</option>
          <option value="suspenso">Suspenso</option>
        </select>
      </div>
      <div class="item-link-category">
        <select class="item-select">
          <option value="None">Tematica</option>
          <option value="None">Infantil</option>
          <option value="None">Juvenil</option>
          <option value="None">Moderno</option>
          <option value="None">Autoayuda</option>
        </select>
      </div>
      <div class="item-link-category">
        <p class="item-colection">
          <a href="">Colecciones</a>
        </p>
      </div>
      <div class="item-link-category">
        <p class="item-news">
          <a href="">Novedades</a>
        </p>
      </div>
      <div class="item-link-category">
        <p class="item-most-read">
          <a href="">Más leidos</a>
        </p>
      </div>
      <div class="createBook">
        <a href="/products/create">+</a>
      </div>
    </nav>
</header>