<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/design/la-letra-dorada-icon1.png">
    <title>La Letra Dorada</title>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <div class="main-index-container">
            <div class="information-content">
                Bienvenido a 
            </div>
            <img src="/img/home/la-letra-dorada-icon.png" alt="">
            <div class="sub-information-content">
                Nuestra misión es ofrecer una amplia variedad de libros, abarcando diversos géneros y autores, para que cada visitante encuentre el libro perfecto que alimente su pasión por la lectura. Desde los clásicos más venerados hasta las últimas novedades literarias
            </div>
        </div>  
        <div class="div-button-products">
            <a href="/products" >
                <button class="button-products" type="submit"> Mira nuestros productos </button>
            </a>
        </div>
        <div class="subtitle-container" >Ahora tambien escucha en formato de audio</div>
        <div class="main-banner">
            <img src="/img/home/Banner_audiolibros_1140x272.png" alt="">
        </div>
            
        </a>
        <div class="subtitle-container"> Nuestros Patrocinadores</div>
        <section class="main-labels">
                <div class="main-labels-image">
                    <img src="/img/index/logo_footer_AQUARIARG.gif" alt="">
                </div>
                <div class="main-labels-image">
                    <img src="/img/index/hachette.png" alt="">
                </div>
                <div class="main-labels-image">
                    <img src="/img/index/harper.png" alt="">
                </div>
                <div class="main-labels-image">
                    <img src="/img/index/santillana.png" alt="">
                </div>
                <div class="main-labels-image">
                    <img src="/img/index/simonychuster.png" alt="">
                </div>
        </section>
        </section>
        </section>
    </main>
  
  <%- include('../partials/footer.ejs') %>
</body>
</html>